<h1>Slacker New News Aggregator</h1>
    <h3>Articles:</h3>
    <ul>
      <% @articles.each do |article| %>
        <li>
          <strong><%= article["title"] %></strong> - <a href="<%= article["url"] %>" target="_blank"><%= article["url"] %></a> <strong>Description: </strong><%= article["description"] %>
        </li>
      <% end %>
    </ul>
  <div class="submit_link">
    <a href="/articles/new">Submit an Article to Slacker News</a>
  </div>
